# ignore everything (dirs, files, sub-dirs, sub-files)
/*
# but do not ignore the .gitignore file
!.gitignore

# do not ignore Below Directories
!/Assets/Scripts
!/Assets/Scenes
!/Assets/Prefabs
!/Assets/_UI
!/Assets/Materials
!/Assets/ScannerAssets